* {
  margin: 0;
  padding: 0;
}

.home-container .tratamientos-container {
  margin: 0 177px 73px 177px;
}

.home-container .tratamientos-container .tratamientos h2 {
  color: #4C9DC8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-bottom: 37px;
}

.home-container .tratamientos-container .tratamientos p {
  color: #000000CC;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  width: 328px;
}

.home-container .promociones-container h2 {
  color: #4C9DC8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
}

.home-container .mission-banner-container {
  margin: 94px 0;
}

header .images-container {
  height: 223px;
}

header .images-container .redes-container {
  padding: 35px 107px 0 0;
}

header .images-container .redes-container a {
  padding: 0 6px;
}

header .images-container .logo-container {
  position: relative;
  bottom: 4px;
}

header .images-container .logo-container .isologo {
  height: 35.427%;
}

header nav {
  background-color: #4C9DC8 !important;
  height: 58px !important;
}

header nav .navbar-menu {
  background-color: #4C9DC8;
}

header nav .navbar-menu a {
  text-align: center;
  color: #FFFFFF !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

header nav .navbar-menu a:hover {
  background-color: #4C9DC8 !important;
  color: #3D3D3D !important;
}

@media screen and (min-width: 1024px) {
  header nav .navbar-menu a {
    height: 22px;
  }
}

header .homebanner-container {
  height: 519px;
  margin: 44px 0 43px 0;
}

footer {
  background-color: #3D3D3D;
  height: 297px;
}

footer .footer-data {
  margin: 60px 0 0 181px;
}

footer .footer-data p {
  height: 109px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4C9DC8;
}

footer .footer-data p span {
  color: #D9B31F;
}

footer .footer-data img {
  margin-top: 18px;
}

footer .footer-menu {
  margin: 51px 182px 0 0;
}

footer .footer-menu li {
  height: 15px;
}

footer .footer-menu li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

footer .redes-container {
  margin: 60px 181px 0 0;
}

footer .redes-container p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  padding-right: 11px;
  line-height: 300%;
}

footer .redes-container a {
  padding: 0 6px;
}


.homebanner-productos {
  margin-top: 2.75rem;
  margin-bottom: 6.25rem;
}
.homebanner-productos img {
  width: 100%;
}
.productsData {
  margin-left: 10.25rem;
  margin-right: 10.25rem;
  height: 84.4375rem;
}
.productsData h2 {
  color: #4C9DC8;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
}
.productsData img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.375rem;
}

.contactData {
  margin-left: 10.25rem;
  margin-right: 10.25rem;
  height: 84.4375rem;
}
.contactData h2 {
  color: #3D3D3D;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-align: center;
}
.contactForm {
  margin-top: 8.125rem;
  display: flex;
  height: 30.25rem;
  flex-direction: column;
  justify-content: space-between;
}
.contactForm input {
  height: 3.5rem;
  border: 2px solid #6B4F4F;
  border-radius: 3.5px;
}
.contactForm textarea {
  height: 9.5rem;
  border: 2px solid #6B4F4F;
  border-radius: 3.5px;
}
input::placeholder, textarea::placeholder {
  color: #4B2F2F;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.contactForm button {
  width: 11.4375rem;
  height: 2.25rem;
  background-color: #D9B31F;
  border-radius: 2px;
  border-style: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  color: #3D3D3D;
}

.turnoForm {
  margin-top: 8.125rem;
  display: flex;
  height: 45rem;
  flex-direction: column;
  justify-content: space-between;
}
.turnoForm input, select {
  height: 3.5rem;
  border: 2px solid #6B4F4F;
  border-radius: 3.5px;
}
.turnoForm option {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #4C9DC8;
}
.turnoForm textarea {
  height: 9.5rem;
  border: 2px solid #6B4F4F;
  border-radius: 3.5px;
}
.turnoForm button {
  width: 11.4375rem;
  height: 2.25rem;
  background-color: #D9B31F;
  border-radius: 2px;
  border-style: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  color: #3D3D3D;
}


/*# sourceMappingURL=style.css.map */