
header{

    .images-container{
        height: 223px;

        .redes-container{
            padding: 35px 107px 0 0;

            a{
                padding: 0 6px;
            }
        }
        .logo-container{
            position: relative;
            bottom: 4px;

            .isologo{
                height: 35.427%;
            }
        }
    }
    
    nav{
        background-color: #4C9DC8 !important;
        height: 58px !important;
    
        .navbar-menu{
        
            background-color: #4C9DC8 ;
    
            a{
                text-align: center;
                color:#FFFFFF !important;
                font-family: 'Montserrat', sans-serif ;
                font-weight: 700;
                font-size: 18px;
         
                &:hover{
                    background-color: #4C9DC8 !important;
                    color:#3D3D3D !important;
                }
    
                @media screen and (min-width:1024px) {
                    height: 22px;
                }
            }
        }
    }
}


