.nosotros-container{
    margin-top: 99px;

    .quienes-somos-container{
        h2{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #4C9DC8;
    
        }
    
        p{
            margin-top: 44px;
            width: 1047px;
            color: #000000CC;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 21px;
        }

    }

    
}