  .contactData {
    margin-left: 10.25rem;
    margin-right: 10.25rem;
    height: 84.4375rem;

    h2 {
      color: #3D3D3D;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.4375rem;
      text-align: center;
    }
  }
 
  .turnoForm {
    margin-top: 8.125rem;
    display: flex;
    height: 45rem;
    flex-direction: column;
    justify-content: space-between;

    input::placeholder, textarea::placeholder {
      color: #4B2F2F;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5rem;
      padding: 16px;
    }

    input {
      height: 3.5rem;
      border: 2px solid #6B4F4F;
      border-radius: 3.5px;
      width: 1062px;
    }

    select {
      height: 3.5rem;
      border: 2px solid #6B4F4F;
      border-radius: 3.5px;
      width: 1062px;

      option {
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #4C9DC8;
      }
    }

    textarea {
      height: 9.5rem;
      border: 2px solid #6B4F4F;
      border-radius: 3.5px;
      width: 1062px;
    }

    button {
      width: 11.4375rem;
      height: 2.25rem;
      background-color: #D9B31F;
      border-radius: 2px;
      border-style: none;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      letter-spacing: 0.16px;
      color: #3D3D3D;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));

    }
  }